@model SalesWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@*<h3>Development Mode</h3>
<p>
    Trocando para <strong>Desenvolvimento</strong> Ambiente exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado em aplicativos implantados</strong>, pois pode resultar na exibição de informações confidenciais de exceções aos usuários finais. Para depuração local, o ambiente de desenvolvimento pode ser habilitado definindo o <strong>ASPNETCORE_ENVIRONMENT</strong> variável de ambiente para <strong>Desenvolvimento</strong>, e reiniciando o aplicativo.
</p>*@
