@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor Jr. Asp Net @ViewData["Desenvolvedor_Asp_Net"]</p>

<address>
    <strong>Mais informcoes: </strong> <a href="https://wilsonserrano.com.br">wilsonserrano.com.br</a>
</address>
